<mat-card>
    <mat-horizontal-stepper linear #stepper>
        <mat-step editable='false' completed="false">
            <ng-template matStepLabel>
                Registrate
            </ng-template>
            <p>Bienvenido a la dinámica de los sistemas de soporte de decisiones, está dividida en cuatro partes que se explicaran a continuación<br>
                1: Debes registrarte, no podremos guardar tus datos si no te registras, procura poner tu nombre real para que puedas identificar los resultados<br>
                2: Aparecera un laberinto que debes resolver, la página registrará automaticamente el tiempo que tardes así que esfuerzate<br>
                3: Aparecerá un segundo laberinto con algo especial, igualmente deberás resolverlo mientras se cuenta tu tiempo<br>
                4: Finalmente se te mostrarán tus resultados
                </p>
            <form>
                <mat-form-field>
                    <mat-label>
                        Nombre
                    </mat-label>
                    <input matInput placeholder="Nombre" #name>
                    <mat-hint>Escribe tu nombre</mat-hint>
                </mat-form-field>
            </form>
            <div style='text-align: right'>
                <button mat-button (click)="nextClick($event)" (click)="reset(0)" (click)="draw(1)">Continuar</button>
            </div>
        </mat-step>
        <mat-step editable='false' completed="false">
            <ng-template matStepLabel>
                Laberinto 1
            </ng-template>
            <div style='text-align: center'>
		        <canvas #maze_canvas [width]="maze.size * m" [height]="maze.size * m">
                </canvas>
		    </div>
		    <div style='text-align: right'>
		        <button mat-button (click)="nextClick($event)" (click)="reset(1)" (click)="draw(2)">Continuar</button>
		    </div>
        </mat-step>
        <mat-step editable='false' completed="false">
            <ng-template matStepLabel>
                Laberinto 2
            </ng-template>
            <div style='text-align: center'>
		        <canvas #maze2_canvas [width]="maze.size * m" [height]="maze.size * m">
			    </canvas>
		    </div>
		    <div style='text-align: right'>
		        <button mat-button (click)="nextClick($event)" (click)="reset(2)">Finalizar</button>
	        </div>
        </mat-step>
        <mat-step editable='false'>
            <ng-template matStepLabel>
                Ve tus resultados
            </ng-template>
            <mat-card>
                <h1>
                    ¡Felicidades {{ name.value }}!
                </h1>
                <p>Estos son tus resutados<br>Tiempo sin DSS: {{ timeToSeconds(time1) }}<br>Tiempo con DSS: {{ timeToSeconds(time2) }}</p>
            </mat-card>
        </mat-step>
    </mat-horizontal-stepper>
</mat-card>