    <mat-card>
        <mat-horizontal-stepper>
            <mat-step editable='false'>
                <ng-template matStepLabel>
                    Registrate
                </ng-template>
                <p>Registra tu nombre, esto para poder guardarlo en el registro de tiempos</p>
                <form>
                    <mat-form-field>
                        <mat-label>
                            Nombre
                        </mat-label>
                        <input matInput placeholder="Nombre" #name>
                        <mat-hint>Por favor usa tu nombre</mat-hint>
                    </mat-form-field>
                </form>
		<div style='text-align: right'>
                	<button mat-button matStepperNext (click)="reset(0)">Continuar</button>
		</div>
            </mat-step>
            <mat-step editable='false'>
                <ng-template matStepLabel>
                    Laberinto 1
                </ng-template>
        <div style='text-align: center'>
			<canvas #maze_canvas [width]="maze.size * m" [height]="maze.size * m">
            </canvas>
            {{ draw(1) }}
		</div>
		<div style='text-align: right'>
			<button mat-button matStepperNext (click)="reset(1)">Continuar</button>
		</div>
            </mat-step>
            <mat-step editable='false'>
                <ng-template matStepLabel>
                    Laberinto 2
                </ng-template>
        <div style='text-align: center'>
			<canvas #maze2_canvas [width]="maze.size * m" [height]="maze.size * m">
			</canvas>
			{{ draw(2) }}
		</div>
		<div style='text-align: right'>
			<button mat-button matStepperNext (click)="reset(2)">Finalizar</button>
		</div>
            </mat-step>
            <mat-step editable='false'>
                <ng-template matStepLabel>
                    Ve tus resultados
                </ng-template>
                <p>Nombre: {{ name.value }}, Tiempo 1: {{ time1 }}, Tiempo 2: {{ time2 }}</p>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
