<mat-toolbar color='primary'>
	DSS - Sistema de soporte de decisiones
</mat-toolbar>
<mat-tab-group mat-stretch-tabs color='accent' backgroundColor = 'primary' [selectedIndex]="indx">
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class='tab-icon'>info</mat-icon>
			Información
		</ng-template>
		<ng-template matTabContent>
			<app-info></app-info>
		</ng-template>
	</mat-tab>
	<mat-tab *ngIf="isDesktop">
		<ng-template mat-tab-label>
			<mat-icon class='tab-icon'>games</mat-icon>
			Juego
		</ng-template>
		<app-game></app-game>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class='tab-icon'>view_list</mat-icon>
			Registros
		</ng-template>
		<ng-template matTabContent>
			<app-records></app-records>
		</ng-template>
	</mat-tab>
</mat-tab-group>