    <mat-card>
        <h1>
            DSS - Sistemas de soporte de decisiones
        </h1>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ¿Qué son?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Un sistema de soporte de decisiones es un sistema de información cuyo fin es ayudar al usuario en la toma de decisiones, esto lo hace de múltiples maneras, como puede ser basandose en un modelo o en un conjunto de datos ya recopilados; todo esto a fin de optimizar las decisiones del consumidor del sistema</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Subtipos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Data
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Este tipo de sistemas de soporte de decisiones se caracteriza por estar basado en datos recolectados, datos que el usuario le debe de proveer al sistema; entre más datos tenga disponibles el sistema mejor será su desempeño</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Documents
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Este tipo de sistemas de soporte de decisiones se basa en documentos, es decir, toma sus decisionesen base a documentos que le son entregados por el usuario, lo que le permite tener una comunicación más natural con el cliente</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Knowledge
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Este tipo de sistemas de soporte de decisiones se basa en conocimientos, lo que los hace decidir en base a sus capacidades de resolución de problemas, estos se podrían considerar un tipo de sistema experto</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Models
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Este tipo de sistemas de soporte de decisiones se basa en el uso de modelos, modelos que fueron diseñados para la optimización de detrminadas series de procesos; por lo tanto, este subtipo depende totalmente de la fiabilidad del modelo</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Funcionalidades
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListIcon>
                            arrow_right
                        </mat-icon>
                        Recopila y analiza datos para realizar un informe completo
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>
                            arrow_right
                        </mat-icon>
                        Se puede automatizar a fin de reducir el trabajo del usuario
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>
                            arrow_right
                        </mat-icon>
                        Se puede adaptar a las distintas situaciones, todo en base al usuario y sus requerimientos
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ¿Quién los hizo?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Michael Scott Morton
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Elaboró un estudio que consistió en construir, implementar y probar un sistema de soporte de decisiones de gestión, estando basado en modelos. En 1966 estudió como las computadoras y los modelos analíticos podrían ayudar a los gerentes a tomar decisiones y realizó un experimento en el que utilizaron un sistema de decisión de gestión (MDS)</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                George Dantzig
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Inicio con la implementación de la porgramación lineal, lo que fue de suma importancia para el posterior desarrollo de los sistemasde soporte de decisiones</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Douglas Engelbart
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
